<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="Member" type="com.kh.forest.common.Member"/>
		<typeAlias alias="Notice" type="com.kh.forest.helpcenter.model.vo.Notice"/>
		<typeAlias alias="Commentary" type="com.kh.forest.helpcenter.model.vo.Commentary"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/help-mapper.xml"/>
		<mapper resource="mappers/commentary-mapper.xml"/>
	</mappers>

</configuration>
