<?xml version="1.0" encoding="UTF-8"?>
<web-app
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
	version="2.5">

	<!-- The definition of the Root Spring Container shared by all Servlets 
		and Filters -->


	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:root-context.xml
			<!-- 스프링 시큐리티 추가 -->
			/WEB-INF/config/spring-security.xml
		</param-value>
	</context-param>
	 

	<!-- Creates the Spring Container shared by all Servlets and Filters -->



	<listener>

		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>

	</listener>

	<!-- 로그인서블릿 -->

			<!-- 한글 깨짐 방지 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>



	<servlet>

		<servlet-name>loginServlet</servlet-name>

		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>


		<init-param>

			<param-name>contextConfigLocation</param-name>

			<param-value>/WEB-INF/config/login-context.xml</param-value>

		</init-param>

		<load-on-startup>1</load-on-startup>

	</servlet>


	<servlet-mapping>

		<servlet-name>loginServlet</servlet-name>

		<url-pattern>*.lo</url-pattern>

	</servlet-mapping>

	<!-- 메인게시판 서블릿 -->



	<servlet>

		<servlet-name>mainServlet</servlet-name>

		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>


		<init-param>

			<param-name>contextConfigLocation</param-name>

			<param-value>/WEB-INF/config/main-context.xml</param-value>

		</init-param>

		<load-on-startup>1</load-on-startup>

	</servlet>


	<servlet-mapping>

		<servlet-name>mainServlet</servlet-name>

		<url-pattern>*.ma</url-pattern>

	</servlet-mapping>

	<!-- 마이보드서블릿 -->



	<servlet>

		<servlet-name>myboardServlet</servlet-name>

		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>


		<init-param>

			<param-name>contextConfigLocation</param-name>

			<param-value>/WEB-INF/config/myboard-context.xml</param-value>

		</init-param>

		<load-on-startup>1</load-on-startup>

	</servlet>


	<servlet-mapping>

		<servlet-name>myboardServlet</servlet-name>

		<url-pattern>*.my</url-pattern>

	</servlet-mapping>

	<!-- 셋팅서블릿 -->



	<servlet>

		<servlet-name>settingServlet</servlet-name>

		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>


		<init-param>

			<param-name>contextConfigLocation</param-name>

			<param-value>/WEB-INF/config/setting-context.xml</param-value>

		</init-param>

		<load-on-startup>1</load-on-startup>

	</servlet>


	<servlet-mapping>

		<servlet-name>settingServlet</servlet-name>

		<url-pattern>*.set</url-pattern>

	</servlet-mapping>

	<!-- 도움! -->



	<servlet>

		<servlet-name>helpCenterServlet</servlet-name>

		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>


		<init-param>

			<param-name>contextConfigLocation</param-name>

			<param-value>/WEB-INF/config/helpCenter-context.xml</param-value>

		</init-param>

		<load-on-startup>1</load-on-startup>

	</servlet>


	<servlet-mapping>

		<servlet-name>helpCenterServlet</servlet-name>

		<url-pattern>*.help</url-pattern>

	</servlet-mapping>

	<!-- 관리자서블릿 -->



	<servlet>

		<servlet-name>managerServlet</servlet-name>

		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>


		<init-param>

			<param-name>contextConfigLocation</param-name>

			<param-value>/WEB-INF/config/manager-context.xml</param-value>

		</init-param>

		<load-on-startup>1</load-on-startup>

	</servlet>


	<servlet-mapping>

		<servlet-name>managerServlet</servlet-name>

		<url-pattern>*.man</url-pattern>

	</servlet-mapping>


	



</web-app>